:root {
  --primary_1: #ebebeb;
  --primary_blue: #322864;
  --primary_yellow: #ff6334;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.h-50 {
  max-height: 50px;
}

.fs-7 {
  font-size: 0.75rem;
}

.fs-8 {
  font-size: 0.625rem;
}

.nav-link.active.nav-item {
  color: var(--primary_yellow);
  font-weight: bolder;
}

.navbar-nav a:hover,
a.nav-link.p-0.text-light.d-inline:hover {
  color: var(--primary_yellow) !important;
}

.head-nav {
  font-size: 2vw;
}

.navbar-toggler-icon {
  background: url("../icons/hamburger.svg") center contain;
}
